body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f5f5f5;
}

/* Fundo branco atrás de tudo */
.main-bg {
    width: 100%;
    min-height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
}

/* Container com gradiente muito leve verde */
.container {
    width: 100%;
    max-width: 1300px;
    margin: 40px;
    padding: 40px;

    border-radius: 30px;

background: linear-gradient(180deg,rgba(0, 235, 106, 1) 0%, rgba(105, 255, 165, 1) 100%);
    border: 2px solid #d7f5d7;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

/* HEADER */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
}

.top-header h1 {
    font-size: 42px;
    color: white;
    font-weight: 700;
    flex: 1;
    text-align: left;
}

.icons {
    display: flex;
    gap: 20px;
    flex: 1;
    justify-content: flex-end;
}

.icon {
    width: 40px;
    height: 40px;
    filter: brightness(0)  invert(1); 
    cursor: pointer;
}


.logo {
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* GRID */
.cursos {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

/* CARD DO CURSO NO ESTILO DA INSPIRAÇÃO */
.curso {
    width: 280px;
    height: 500px;
    background: white;
    border-radius: 22px;
    border: 2px solid #CCF0CC;

    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10);

    transition: 0.3s ease;
}

.curso:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
    border-color: #1A2B8B;
    cursor: pointer;
}

/* IMAGEM */
.curso-img {
    width: 100%;
    height: 150px;
    background: #ddd;
}

.curso-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ÁREA INFERIOR BRANCA COM O NOME */
.curso-info {
    padding: 18px;
    background: white;
}

.curso-info h2 {
    font-size: 16px;
    color: #0B0000;
    font-weight: 600;
    text-align: center;
}
.curso p {
    font-size: 14px;
    color: #0B0000;
    margin-top: 2px;
}
.barra {
    width: 100%;
    height: 2px;
    background: #00B050; /* Verde da paleta */
    margin: 10px 0;
    border-radius: 2px;
}
/* ======== MODO ESCURO ATIVADO ======== */
