/* ----- PALETA DG CONSULTORIA -----
Verde:        #00B050
Preto:        #0B0000
Branco:       #FFFFFF
Azul:         #1A288B
Azul-cinza:   #889AA6
----------------------------------- */

/* FUNDO PREMIUM */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;

    /* Degradê azul -> azul-cinza */
background: linear-gradient(180deg, #0f1720 0%, #111827 100%);
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

/* CONTAINER GLASS */
.container {
    width: 100%;
    max-width: 1300px;
    margin: 40px;
    padding: 40px;

    border-radius: 30px;

    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(8px);

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

/* HEADER */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
}

.top-header h1 {
    font-size: 42px;
    color: #FFFFFF;
    font-weight: 700;
    flex: 1;
    text-align: left;
}

.icons {
    display: flex;
    gap: 20px;
    flex: 1;
    justify-content: flex-end;
}

.icon {
    width: 40px;
    height: 40px;
    filter: brightness(0) invert(1); /* deixa branco */
}

/* LISTA DE CURSOS */
.cursos {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

/* CARD DO CURSO */
.curso {
    width: 260px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    padding: 20px;

    border: 2px solid rgba(255, 255, 255, 0.3);

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    transition: 0.3s ease;
    text-align: center;
}

.curso:hover {
    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.25);
    border-color: #008a3e;
    cursor: pointer;
}

/* IMAGEM DO CURSO */
.curso img {
    width: 100%;
    height: 150px;
    background-color: #889AA6;
    border-radius: 12px;
    object-fit: cover;
}

/* TITULO */
.curso h2 {
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 15px;
}

/* DESCRIÇÃO */
.curso p {
    font-size: 14px;
    color: #E5E5E5;
    margin-top: 5px;
}
.logo {
    height: 100px;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}